<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=0.05, minimum-scale=0.05">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Price</title>
</head>
<body>
    <div class="container-fluid" style="height:100vh;">
        <div class="row" style="height:100vh;">
            <div class="col-lg-8 col-8 col-sm-8 col-md-8 col-xl-8 laone">
                <h1 id="la1" style="text-align: center; margin-top:1%; font-family: 'Montserrat', sans-serif;">
                    LIVE NSE STOCK CLOSE PRICE PREDICTION
                </h1>
            </div>
            <div class="col-lg-4 col-4 col-sm-4 col-md-4 col-xl-4 align-bottom new_1">
                <h1>Stock Quote</h1>
                 <table style="border-collapse: collapse; width: 100%; border: 1px solid black;">
        <thead style="background-color: #f2f2f2;">
            <tr>
                <th style="padding: 5px; border: 1px solid black;">Company Name</th>
                <th style="padding: 5px; border: 1px solid black;">Stock data</th>
                <th style="padding: 5px; border: 1px solid black;">Last Traded Price</th>
                <th style="padding: 5px; border: 1px solid black;">High Price</th>
                <th style="padding: 5px; border: 1px solid black;">Low Price</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td style="padding: 5px; border: 1px solid black;">Tcs</td>
                <td style="padding: 5px; border: 1px solid black;"></td>
                <td style="padding: 5px; border: 1px solid black;">3,213.90</td>
                <td style="padding: 5px; border: 1px solid black;">3,575.00</td>
                <td style="padding: 5px; border: 1px solid black;">2,926.10</td>
            </tr>

        </tbody>
        <tbody>

            <tr>
                <td style="padding: 5px; border: 1px solid black;">Wipro</td>
                <td style="padding: 5px; border: 1px solid black;"></td>
                <td style="padding: 5px; border: 1px solid black;">379.95</td>
                <td style="padding: 5px; border: 1px solid black;">444.90</td>
                <td style="padding: 5px; border: 1px solid black;">352.00</td>
            </tr>

        </tbody>
        <tbody>

            <tr>
                <td style="padding: 5px; border: 1px solid black;">Cognizant</td>
                <td style="padding: 5px; border: 1px solid black;"></td>
                <td style="padding: 5px; border: 1px solid black;">62.60</td>
                <td style="padding: 5px; border: 1px solid black;">62.40</td>
                <td style="padding: 5px; border: 1px solid black;">61.23</td>
            </tr>

        </tbody>
        <tbody>

            <tr>
                <td style="padding: 5px; border: 1px solid black;">Capgemini</td>
                <td style="padding: 5px; border: 1px solid black;"></td>
                <td style="padding: 5px; border: 1px solid black;">168.65</td>
                <td style="padding: 5px; border: 1px solid black;">193.60</td>
                <td style="padding: 5px; border: 1px solid black;">152.65</td>
            </tr>

        </tbody>
        <tbody>

            <tr>
                <td style="padding: 5px; border: 1px solid black;">Infosys</td>
                <td style="padding: 5px; border: 1px solid black;"></td>
                <td style="padding: 5px; border: 1px solid black;">1265.70</td>
                <td style="padding: 5px; border: 1px solid black;">1672.60</td>
                <td style="padding: 5px; border: 1px solid black;">1185.30</td>
            </tr>

        </tbody>
    </table>
<!--                <p>Company Name:</p>-->
<!--                <p>Stock data: {{ stock_quote.data }}</p>-->
<!--                <p>Last Traded Price: {{ stock_quote.lastPrice }}</p>-->
<!--                <p>High Price: {{ stock_quote.dayHigh }}</p>-->
<!--                <p>Low Price: {{ stock_quote.dayLow }}</p>-->
            </div>
        </div>
    </div>
</body>

